/* PF2e Chat Highlight */

/* Destaque dos links arrastáveis e clicáveis */

.pf2e-chat-highlight {
    background-color: rgba(80, 160, 255, 0.20);
    border: 1px solid rgba(80, 160, 255, 0.60);
    border-radius: 5px;
    padding: 2px 6px;
    font-weight: bold;
}
